body {
  font-size: 15px;
}
.container {
  margin: auto;
  width: calc(60% + 2em);
  display: grid;
  grid-template-columns: 1em calc(100% - 2em) 1em;
  grid-template-rows: auto;
  grid-template-areas: ". lettersTop ." "numbersLeft board numbersRight" ". lettersBottom .";
}
.letters {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.letters.top {
  grid-area: lettersTop;
}
.letters.bottom {
  grid-area: lettersBottom;
}
.letter {
  text-align: center;
}
.numbers {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
}
.numbers.left {
  grid-area: numbersLeft;
}
.numbers.right {
  grid-area: numbersRight;
}
.number {
  text-align: center;
}
.board {
  grid-area: board;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.cell {
  border: 1px solid #fff;
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;
  size: absolute;
}
.cell.w {
  background: #fff;
}
.cell.b {
  background: #749173;
}
.piece {
  width: 80%;
}
.piece:hover {
  box-shadow: inset 0px 0 20px #f00;
}
.piece.rook {
  content: url("piezas/blackrook.png");
  height: auto;
  padding: calc((100% - 80%) / 2);
}
.piece.knight {
  content: url("piezas/blackknight.png");
  height: auto;
  padding: calc((100% - 80%) / 2);
}
.piece.bishop {
  content: url("piezas/blackbishop.png");
  height: auto;
  padding: calc((100% - 80%) / 2);
}
.piece.king {
  content: url("piezas/blackking.png");
  height: auto;
  padding: calc((100% - 80%) / 2);
}
.piece.queen {
  content: url("piezas/blackqueen.png");
  height: auto;
  padding: calc((100% - 80%) / 2);
}
.piece.pawn {
  content: url("piezas/blackpawn.png");
  height: auto;
  padding: calc((100% - 80%) / 2);
}
