boardSize = 60%
fontSize = 15px
pieceSize = 80% 
colorWhites = white
colorBlacks = #749173
hoverColor = #ff0000

body 
  font-size: fontSize

.container
  margin: auto
  width: 'calc(%s + 2em)' %boardSize
  display: grid
  grid-template-columns: 1em calc(100% - 2em) 1em
  grid-template-rows: auto
  grid-template-areas:  ". lettersTop ." "numbersLeft board numbersRight" ". lettersBottom ."

.letters
  display: grid
  grid-template-columns: repeat(8, 1fr)
  &.top
    grid-area: lettersTop 

  &.bottom
    grid-area: lettersBottom
.letter
  text-align: center

.numbers
  display: grid
  grid-template-rows: repeat(8, 1fr)
  align-items: center
  &.left
    grid-area: numbersLeft
  &.right
    grid-area: numbersRight
.number
  text-align: center

.board
  grid-area: board
  display: grid
  grid-gap: 0
  grid-template-columns: repeat(8, 1fr)
  grid-template-rows: repeat(8, 1fr)

.cell
  border: 1px solid #fff;
  text-align: center;
  width: 100%
  height: 0
  padding-bottom: 100%
  cursor: pointer
  size: absolute 
  
  &.w
    background: colorWhites
  &.b
    background: colorBlacks
  
  
.piece  
  width: pieceSize
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover
    box-shadow: inset 0px 0 20px hoverColor
  &.black
    &.rook
      content:url(piezas/blackrook.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
    &.knight
      content:url(piezas/blackknight.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
    &.bishop
      content:url(piezas/blackbishop.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
    &.king
      content:url(piezas/blackking.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
    &.queen
      content:url(piezas/blackqueen.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
    &.pawn
      content:url(piezas/blackpawn.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
  &.white
    &.rook
      content:url(piezas/whiterook.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
    &.knight
      content:url(piezas/whiteknight.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
    &.bishop
      content:url(piezas/whitebishop.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
    &.king
      content:url(piezas/whiteking.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
    &.queen
      content:url(piezas/whitequeen.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize
    &.pawn
      content:url(piezas/whitepawn.png)
      height auto
      padding: 'calc((100% - %s) / 2)' %pieceSize


//Game

// .pieceToMove
//   width: 'calc(%s + 5%)' %pieceSize

.onPathw
  background: rgba(61, 126, 154, 0.5)
  

.onPathb
  background: rgba(61, 126, 154, 0.8)
    
  

  
  
